NODE_ENV=development
PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_SCHEMA=ether
DB_SYNCHRONIZE=true
DB_LOGGING=false

ETH_BLOCKCHAIN_NAME=ethereum
ETH_RPC_URL=https://eth.llamarpc.com
ETH_PRIVATE_KEY=

BSC_PROVIDER_URL=https://data-seed-prebsc-1-s1.binance.org:8545
SYSTEM_PRIVATE_KEY=

USDT_CONTRACT_ADDRESS=

API_SECRET_KEY=
API_KEY=

